@{
    ViewBag.Title = "Contact";
}
<div class="page padding10">
    <div class="row">
        <h2 class="padding10  text-justify  bg-color-vsolvit-orange  fg-color-white"><span>@ViewBag.Title  <i class="icon-mail place-right" style="font-size: x-large"></i></span></h2>
     
        <p class="  padding10  text-justify">
            Interested in partnership? Give us a call or send us an email.

        </p>

        <ol class="unstyled  padding10 ">
            <li>Payal Kamdar  </li>
            <li>pkamdar@vsolvit.com   </li>
            <li>805-750-9135  </li>
            <li><a href="www.vsolvit.com">Vsolvit LLC</a> </li>
        </ol>
    </div>
</div>


