@if (Request.IsAuthenticated)
{
    <span class="fg-color-white place-right" style="font-size:1em;">
         @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username fg-color-white", title = "Manage"}) 
         @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "fg-color-white" }))
            {
            @Html.AntiForgeryToken()
            <a class = "fg-color-white" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
    </span>
}
else
{          
    <ul class="menu fg-color-white place-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
