<div id="uiWizardStep7" c class="wizard-step  padding10">
    <h4>Step 6:  Add New Outreach Locations to the Map</h4>
 
    <p>
        Once you have identified populations that are reachable and unreachable by current fixed immunization locations the user can suggest new locations and characteristics for outreach and campaigns. Use the start editing Button to suggest new locations on the map. Right click on the map to add, move, or delete points. 

    </p>
    <ol class="unstyled">
        <li class="  as-inline-block ">
            <h5> Add New Outreach Locations to the Map</h5>

            <p class=" padding10  text-justify">
                Click here for <a target="_blank" href="~/FileDownloadHandler.ashx?file=Howtouploaddata.docx">directions </a>and a <a target="_blank" href="~/FileDownloadHandler.ashx?file=CSVUploadTemplate.csv">template  </a>.
            </p>
        </li>
        <li class=" as-inline-block">

            <form id="uploadForm" class=" padding5" method="POST" enctype="multipart/form-data">
                <input type="file" name="data" id="inFile" />
            </form>
        </li>
        <li class="  as-inline-block   ">
            <h5>Modify Existing  Add New Outreach Locations to the Map</h5>
            <ol class="unstyled">
                <li class=" as-inline-block ">
                    <button type="button" class="default ui-editor-start"><i class=""></i>Start Editing</button>
                </li>
                <li class=" as-inline-block ">
                    <button type="button" class="default ui-editor-stop no-display"><i class=""></i>Stop Editing</button>
                </li>
            </ol>
        </li>
    </ol>
</div>
