<div  id="uiWizardStep6" c class="wizard-step  padding10">
    <h4>Step 6: Export Results </h4>
    <p>Save analysis results to a CSV file and print map. </p>
    <button type="button" class="default" value="Submit">Save to CSV</button>
    <button type="button" class="default" value="Submit">Print Map</button>
</div>
