<div  id="uiWizardStep5" c class="wizard-step  padding10">
    <h4>Step 6: Filter Fixed Immunization Locations Based on Characteristics </h4>
    <p>
        To filter results use controls below. 
    </p>
    <ol class="unstyled">
        <li class="input-control select as-inline-block ">
            <label>Catchment Size:</label>
            <select class="" id="uiStep5CatchmentSizeList" name="uiStep5CatchmentSizeList">
                <option>All</option>
                <option>1KM</option>
                <option>5KM</option>
                <option>10KM</option>
            </select>
        </li>
         <li class=" input-control select as-inline-block  ">
            <label for="">Coverage:</label>
            <select class="">
                <option>All</option>
                <option>1KM</option>
                <option>5KM</option>
                <option>10KM</option>
            </select>
        </li>
        <li class="input-control select  as-inline-block  ">
            <label for=""># Births:</label>
            <select class="">
                <option>All</option>
                <option><10</option>
                <option><50</option>
                <option><100 </option>
            </select>
        </li>
        <li class=" input-control select as-inline-block  ">
            <label for=""># Pregnant Women:</label>
            <select class="">
                <option>All</option>
                <option><10</option>
                <option><50</option>
                <option><100 </option>
            </select>
        </li>
                <li class="input-control select  as-inline-block  ">
            <label for=""># School Age Children:</label>
            <select class="">
                <option>All</option>
                <option><10</option>
                <option><50</option>
                <option><100 </option>
            </select>
        </li>
                <li class="input-control select  as-inline-block  ">
            <label for=" ">Refrigerator Space:</label>
            <select class=" ">
                <option>All</option>
                <option>Type A</option>
                <option>Type B</option>
            </select>
        </li>
        <li class="input-control select  as-inline-block  ">
            <label for="">Freezer Space:</label>
            <select class="">
                <option>All</option>
                <option>5 C average</option>
                <option>-15 C or colder</option>
            </select>
        </li>

    </ol>
    <table class="ui-country-summary ui-summary-table padding10" style="width: 100%;">
        <caption style="text-align: center">
            Agadez
        </caption>
        <thead>
            <tr>
                <th colspan="2" style="text-align: center">Demograhics 
                </th>
                <th colspan="2" style="text-align: center">Population in Catchment
                </th>
                <th style="text-align: center">Population not in Catchment
                </th>
            </tr>
            <tr>
                <th>Total Population</th>
                <th>16,069,000</th>
                <th style="text-align: center">Covered</th>
                <th style="text-align: center">Uncovered</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>Births</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>0-11 Months</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Population Under 5 </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>School Age Children (Ages 5-14)</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Female Population </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Birthing Population (ages 15-49)</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Pregnant Women</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
