<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\projects\VSC\Deployments\web</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>vsc</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SigmaContext" Order="1" Enabled="False">
          <Destination Path="Data Source=VSOLVIT27\SQLEXPRESS;Initial Catalog=SIGMA;Persist Security Info=True;User ID=sa;Password=Password12345" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="VSC.Web.Models.UsersContext, VSC.WEB" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SigmaContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/Data.Models.SigmaModel.csdl|res://*/Data.Models.SigmaModel.ssdl|res://*/Data.Models.SigmaModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=VSOLVIT27\SQLEXPRESS;Initial Catalog=SIGMA;Persist Security Info=True;User ID=sa;Password=Password12345"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>